.App {
  text-align: center;
}

.App-header {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;  
  background-color: rgb(28, 118, 152);
  padding: 10px 20px;
  font-family: "Tahoma, Geneva, sans-serif"; 
  font-size: 16px;
  color: white;
  vertical-align: middle;
}

.App-header h2 {
  letter-spacing: 0.3rem;
}

.App-header-fixed-col {
  flex: 0;
}

.App-header-col {
  flex: 1;
}

.App-spdzlogo {
  height: 4rem;
}

.App-footer {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 10px 20px;
  color: rgb(221,221,221);
  background-color:#161b20;  
  text-align: left;
}

.App-footer-col-left {
  flex: 1;
}

.App-footer-col-right {
  flex: 1;
  text-align: right;
}

.App-footer-col-right img {
  margin: 0 0 2rem auto;
  display: block;
}

.App-footer h4 {
  font-weight: normal;
  color: #e5a310;
  margin: 0;
  padding: 0;  
}

.App-footer p {
  margin: 0;
  padding: 0;
}

.App-footer a:link {
  text-decoration: none;
  color: rgb(221,221,221);
}

.App-footer a:visited {
  color: rgb(221,221,221);
}

.App-footer a:hover, a:focus {
  color: rgb(221,221,221);
  text-decoration: underline;
}
