body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.smallText {
  font-size: small;
}

.mediumText {
  font-size: medium;
}

.subHead {
  display: inline-block;
  margin: 10px;
  color: cornflowerblue;
}