.ConnectionContainer-main {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.ConnectionContainer-mpcgui {
  flex: 1;
}

.ConnectionContainer-setup {
  flex: 0 1 auto;
}
