.BankersForm {
  text-align: left;
  padding: 1rem;
  border: thin solid grey;
  width: 14rem;
  font-size: 14px;
}

.BankersForm label {
  display: block;
}

.BankersForm input {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Force mobile input text to 16px to stop auto zoom (ios at least). */
@media (max-width: 768px) {
  .BankersForm input[type="text"] {
    font-size: 16px;
  }
}

.BankersForm button {
  padding: 5px;
  font-size: 14px;
}

.BankersForm button:disabled {
  background-color: lightgrey;
}

.BankersForm label.BankersForm-inline {
  display: inline;
  margin-right: 5px;
} 

.BankersForm input.BankersForm-inline {
  display: inline;
} 

.BankersForm h4 {
  font-size: 16px;
  color: rgb(28, 118, 152);
  margin-top: 0.5rem;  
  margin-bottom: 0rem;
}

.BankersForm p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.BankersForm p.infoMessage {
  margin: 1rem 0 0 0;
  color: green;
}

.BankersForm p.warnMessage {
  margin: 1rem 0 0 0;
  color: lightcoral;
}