.ProxyStatus {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0px;
  margin-bottom: 10px;
}

.ProxyStatus:last-child {
   margin-bottom: 0px;
}

.ProxyStatus-marker {
  width: 16px;
  border-radius: 50%;
  border: 1px solid black;
}

.ProxyStatus-marker-disconnected {
  background-color: lightgrey;
}

.ProxyStatus-marker-connected {
  background-color: lightgreen;
}

.ProxyStatus-marker-failure {
  background-color: lightcoral;
}