.BankersForm {
  margin-right: 3rem;
  text-align: left;
  padding: 1rem;
  border-top: thin solid grey;
  border-bottom: thin solid grey;
  width: 12rem;
}

.BankersForm label {
  display: block;
}

.BankersForm input {
  display: block;
  margin-bottom: 10px;
}

.BankersForm input:disabled {
  background-color: lightgrey;
}

.BankersForm h4 {
  margin-top: 0.5rem;  
  margin-bottom: 0rem;
}

.BankersForm p {
  margin-top: 0rem;
  margin-bottom: 1rem;
}