.bankersForm {
  margin-right: 3rem;
  text-align: left;
  padding: 1rem;
  border-top: thin solid grey;
  border-bottom: thin solid grey;
}

.bankersForm label {
  display: block;
}

.bankersForm input {
  display: block;
  margin-bottom: 10px;
}