.BankersGUI-main {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 10px 5px;
  justify-content: space-around;
  align-items: center;
}

.BankersGUI-component {
  flex: 0 1 auto;
  margin-bottom: 1rem;  
}
